/*
.page__header {
    background-color: @white;
    color: @white;
}

.header__logo {
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
}

.user__link {
    position: absolute;
    top: 20px;
    right: 140px;
}

.basket__link {
    position: absolute;
    top: 20px;
    right: 80px;
    text-decoration: none;
}

.main-nav {
    position: relative;
    height: 60px;
    background-color: @white;
    z-index: 2;
}

!* Меню *!

.main-nav__list {
    position: relative;
    min-height: 56px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: @baseblack;
    margin: auto;
    padding: 0;
    z-index: 1;
    list-style: none;
}

!* Ссылки *!

.site-list a {
    position: relative;
    display: block;
    padding: 12px 21px 13px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: @white;
    text-decoration: none;
    background-color: rgba(120, 89, 207, 0.9);
}

.site-list__item:nth-child(2) a,
.site-list__item:nth-child(3) a,
.site-list__item:nth-child(4) a {
    !* stylelint-disable-next-line length-zero-no-unit *!
    box-shadow: 0px -1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

!* Гамбургер *!

.main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 50px;
    background-color: @white;
    border: none;
}

!* Закрытое меню *!

.main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 17px;
    width: 18px;
    height: 2px;
    background-color: @baseblack;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;

&
:active {
    background-color: @white;
}

}
@media (max-width: @tablet-width) {
    .main-nav--closed .site-list__item {
        display: none;
    }
}

!* Открытое меню *!

.main-nav--opened .main-nav__toggle {
    top: 0;
    right: 0;

&::before,
&::after {
     content: "";
     position: absolute;
     top: 28px;
     left: 16px;
     width: 20px;
     height: 2px;
     background-color: @baseblack;
 }

&::before {
     transform: rotate(45deg);
     box-shadow: none;
 }

&::after {
     transform: rotate(-45deg);
 }
}

!* No JS *!

.main-nav--nojs .main-nav__toggle {
    display: none;
}

.main-nav--nojs {
    position: static;
    min-height: 0;
}

.main-nav--nojs .site-list__item {
    display: block;
}

.main-nav--nojs .user-list__item {
    display: block;
}
*/
